<ion-item lines="none">
  <ion-label>
    <p>
      Cana de Azucar
      <ion-icon class="ml-1" name="star" color="warning"></ion-icon>
      4.3
    </p>
    <p>
      <span class="mr-1 text-success">Abierto</span>
      <ion-icon name="ellipse" color="medium"></ion-icon>
      <span class="mx-1">40min</span>
      <ion-icon name="ellipse" color="success"></ion-icon>
      <span class="text-success ml-1">Entrega Gratis</span>
    </p>
  </ion-label>
  <ion-icon slot="end" name="basket-outline"></ion-icon>
</ion-item>
